:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1; // This makes the main content area grow to fill available space
  overflow-y: auto; // Add a scrollbar if content overflows
}