div[mat-dialog-content] {
  padding-top: 100px; 
}


.workout-form {
  display: flex;
  flex-direction: column;
}
.form-row {
  display: flex;
  gap: 1rem;
  > * {
    flex: 1;
  }
}
.first-form-field {
  margin-top: 1rem;
}

