<mat-toolbar color="primary">
  <div class="toolbar-container">
    <a routerLink="/dashboard" class="logo">
      <mat-icon>fitness_center</mat-icon>
      <span>Training Tracker</span>
    </a>

    <div *ngIf="authService.isLoggedIn()" class="nav-links">
      <a mat-button routerLink="/dashboard">Dashboard</a>
      <a mat-button routerLink="/progress">Progress</a>
    </div>
    
    <div class="user-actions">
      <ng-container *ngIf="!authService.isLoggedIn(); else loggedIn">
        <a mat-raised-button color="accent" routerLink="/auth/login">Login</a>
      </ng-container>
      <ng-template #loggedIn>
        <button mat-icon-button (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </ng-template>
    </div>
  </div>
</mat-toolbar>